<h1>Burgers, Burgers, Burgers!</h1>

<h2>Let's eat</h2>

<ul>
  {{#each burgers}}
    {{#unless sleepy}}
      {{> burgers/burgers-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers waiting to be devoured</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burgers-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bgr">Burger Name:</label>
    <input type="text" id="bgr" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> piping hot
  </div>

  <button type="submit">Add Burger</button>
</form>
